<!DOCTYPE html>

<html style="background-color:aquamarine">
    <head>
        <title>Node.js express mongoDB CRUD</title>
    </head>
    <body>
        <div>
            <div style="background-color:#fff;margin-top: 40px; padding:20px;margin-left:40px;margin-right:1000px">
                {{{body}}}
            </div>
        </div>
    </body>
</html>